header {border: #17ed2c;
    border-radius: 5px;
}
header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #333;
}
/* li {
    list-style: none;
} */
 a {
    text-decoration: none;
    
}