

header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #333;
    height: 40px;
    align-items: center;
    border: solid 2px black;
    border-radius: 5px;
}
/* li {
    list-style: none;
} */
 a { 
    color: white;
    font-size: 20px;
    text-decoration: none;
   
    
}

